In [2]:
import pymongo
import ssl
import pandas as pd
import datetime
from bson.decimal128 import Decimal128
from bson.son import SON
import uuid
import pprint

In [3]:
# mongo_uri="mongodb://{username}@mongo-db00.dev.cld.dataeng.internal:27017/?authMechanism={auth_mechanism}&replicaSet={replica_set}&readPreference=primary&ssl={ssl}&tlsAllowInvalidCertificates=true&authSource=%24external"
#mongo_uri="mongodb://{username}@{mongo_hosts}/?authMechanism={auth_mechanism}&replicaSet={replica_set}&ssl={ssl}&tlsAllowInvalidCertificates=true&authSource=%24external"
# &readPreference=primary

mongo_uri="mongodb://{username}@{mongo_hosts}/?authMechanism=GSSAPI"
env="prod"

svx_replica_set = {
    "dev":"svx-dev1",
    "pre":"svx-preprod1",
    "prod":"svx-prod1"
}
mongo_hosts = ["mongo-db00.{env}.cld.dataeng.internal:27017".format(env=env),
               "mongo-db01.{env}.cld.dataeng.internal:27017".format(env=env),
               "mongo-db02.{env}.cld.dataeng.internal:27017".format(env=env)
              ]

svx_replica_set = svx_replica_set.get(env)
username = "s120748@AUIAG.CORP"

client=pymongo.MongoClient(
    host=mongo_hosts,
    replicaset=svx_replica_set,
    ssl=True,
    ssl_cert_reqs=ssl.CERT_NONE,
    username=username,
    authMechanism='GSSAPI',
    authSource='$external',
    readPreference="primaryPreferred",
    w="majority",
    j=True,
    retryWrites=True
    )

In [4]:
db = client.svx

In [5]:
db.list_collection_names()

['online_events',
 'customer_complaints',
 'policy_customer',
 'job_stats',
 'ds_svx_iag_complaints_data_harmonized',
 'online_events_staging',
 'rt_svx_huon_policy',
 'customer_activity',
 'svx_iag_complaints_data_harmonized_staging',
 'properties_staging',
 'online_activities_staging',
 'consumer_invitation_responses',
 'customer_insights',
 'ds_pi_claims',
 'ds_ci_claims',
 'online_activities',
 'mvdetail',
 'data_provenances',
 'customer_address',
 'stg_customer',
 'vehicles_previous',
 'system.profile',
 'properties',
 'customer_analytical_profiles',
 'products',
 'ds_crods_src_sys_bus',
 'ds_svx_cap_customer',
 'ds_sor_onthehouse',
 'ds_svx_cap_customer_staging',
 'ds_svx_cap_policy',
 'ds_experian_ext_iag_pid',
 'ds_iag_product_cover',
 'property_structures',
 'ds_mdl_policy',
 'customer',
 'vehicles',
 'policy_insights',
 'external_cache',
 'ccpi-vehicle-view']

In [6]:
collection = db.data_provenances

In [7]:
query = {
    'event': 'CREATE',
    'created_datetime': {
        '$gte': datetime.datetime(2021, 3, 21),
        '$lt': datetime.datetime(2021, 3, 22)
    }
}

cursor = collection.find(query)
result = list(cursor)
df = pd.DataFrame(result)
df

,_id,request_url,source_object_type,event,created_by_user,content,provenance_id,created_datetime
0,60568c8360e7c9c63605ebae,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,fireflysystemuser,"{'_id': 'GASA_414953016', 'linked_address_ids'...",a8847165-c2dc-4d4b-9191-1da8b3cff767,2021-03-21 00:00:03.810
1,60568c88c719d0c6e119f6e2,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,sys-buy-journey-nrma-user,"{'_id': 'GANSW704205437', 'linked_address_ids'...",8b0d19f4-dbc8-474c-9ee9-95ac94bde48f,2021-03-21 00:00:08.695
2,60568c8abba0b3eef5cf1dd1,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,fireflysystemuser,"{'_id': 'GANT_718393278', 'linked_address_ids'...",f2c1acfc-2a80-4f1a-b9ea-5c6543bbcb5f,2021-03-21 00:00:10.608
3,60568c8c60e7c9c63605ebaf,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,fireflysystemuser,"{'_id': 'GASA_425063612', 'linked_address_ids'...",20693f03-a3ac-49aa-93d2-b67f66cc99df,2021-03-21 00:00:12.522
4,60568c92d57d0aeb7c020c3a,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,fireflysystemuser,"{'_id': 'GASA_415034033', 'linked_address_ids'...",71ef1c48-a7a4-4bf8-a3fe-aa3f5db859f6,2021-03-21 00:00:18.635
...,...,...,...,...,...,...,...,...
8092,6057ddfabba0b3eef5cf28e3,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,fireflysystemuser,"{'_id': 'GANT_703852995', 'linked_address_ids'...",243729ea-8c19-49a8-b9a4-dbc71adfef0e,2021-03-21 23:59:54.713
8093,6057ddfbc719d0c6e11a01c7,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,fireflysystemuser,"{'_id': 'GASA_415074597', 'linked_address_ids'...",abc3e5b4-8bbf-4c17-b622-492dfedcd205,2021-03-21 23:59:55.471
8094,6057ddfc60e7c9c63605f5df,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,fireflysystemuser,"{'_id': 'GASA_414947893', 'linked_address_ids'...",4cfa2136-0ccf-49a3-ab11-b9dcb73b7db2,2021-03-21 23:59:56.757
8095,6057ddfd60e7c9c63605f5e0,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,sys-buy-journey-nrma-user,"{'_id': 'GAQLD162715298', 'linked_address_ids'...",4a956c18-25c1-4cc5-8da0-2563d6b9c20c,2021-03-21 23:59:57.679
8096,6057ddffc719d0c6e11a01c8,https://svx.dataeng.internal/properties?addres...,PROPERTY,CREATE,fireflysystemuser,"{'_id': 'GANT_702959873', 'linked_address_ids'...",7b40bf03-1110-4d90-ba54-f6124561314a,2021-03-21 23:59:59.427

In [13]:
df.groupby(df.created_by_user) \
  .agg({
        '_id': ['count']
    })

                            _id
                          count
created_by_user
fireflysystemuser          5967
sys-buy-journey-nrma-user  2130

In [15]:
query = {
    'provenance_id': uuid.UUID('d52b40e9-fb64-4bb4-897d-83c910c2c31c')
}

In [17]:
cursor = collection.find(query,
                                 sort=[('created_datetime', -1)]
                                )

Property structures collection

In [8]:
collection = db['property_structures']

In [24]:
# number of levels
pipeline = [
    {"$group": {"_id": "$number_of_levels", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))
    
x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 14790232},
 {'_id': 1.0, 'count': 1453563},
 {'_id': 2.0, 'count': 481229},
 {'_id': 3.0, 'count': 44713},
 {'_id': 1.5, 'count': 14417},
 {'_id': 4.0, 'count': 4608},
 {'_id': 5.0, 'count': 431},
 {'_id': 6.0, 'count': 338},
 {'_id': 8.0, 'count': 303},
 {'_id': 7.0, 'count': 260},
 {'_id': 9.0, 'count': 169}]
FAIL: None does not exist in the allowed list of values.
FAIL: 1.5 does not exist in the allowed list of values.

In [156]:
# structure type
pipeline = [
    {"$group": {"_id": "$structure_type", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

test_list = list(db.property_structures.aggregate(pipeline))
value_list = []
allowed_list = [None, 'Apartment', 'BED AND BREAKFAST', 'Commercial Farm', 'Commercial Office', 'DUPLEX', 
                'Factory Unit', 'Flat', 'GRANNY FLAT - SELF CONTAINED', 
                'HOBBY FARM OR A DOMESTIC DWELLING ON A COMMERCIAL PROPERTY', 
                'HOUSE (FREESTANDING)/TERRACE HOUSE FREE STANDING HOUSE', 'House', 'MISSING', 
                'RELOCATABLE / DEMOUNTABLE DWELLING', 'RETIREMENT VILLAGE', 'Retirement Village', 
                'SEMI-DETACHED HOUSE OR TERRACE', 'SHOPFRONT', 'STUDENT QUARTERS / NURSES QTRS', 'Semi-detached', 
                'Shed', 'Shop', 'TOWNHOUSE', 'TOWNHOUSE, VILLA OR DUPLEX', 'Terraced', 'Townhouse', 
                'UNIT/FLAT/APARTMENT (PART OF ABLOCK) UNIT OR FLAT', 'UNITS (BLOCK OF)', 'Unit', 'VILLA', 'Warehouse']

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))
    
x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 14934903},
 {'_id': 'Normal Dwelling', 'count': 469499},
 {'_id': 'HOUSE (FREESTANDING)/TERRACE HOUSE FREE STANDING HOUSE',
  'count': 410723},
 {'_id': 'House', 'count': 373172},
 {'_id': 'UNIT/FLAT/APARTMENT (PART OF ABLOCK) UNIT OR FLAT', 'count': 213460},
 {'_id': 'TOWNHOUSE, VILLA OR DUPLEX', 'count': 113084},
 {'_id': 'MISSING', 'count': 55839},
 {'_id': 'Home Unit', 'count': 53372},
 {'_id': 'Townhouse', 'count': 35762},
 {'_id': 'SEMI-DETACHED HOUSE OR TERRACE', 'count': 14173},
 {'_id': 'Semi Detached Dwelling', 'count': 7675},
 {'_id': 'Holiday Home - Weekender', 'count': 6001},
 {'_id': 'Apartment', 'count': 5441},
 {'_id': 'Flat / Apartment', 'count': 4785},
 {'_id': 'Retirement Village Unit', 'count': 3405},
 {'_id': 'Semi-detached', 'count': 3006},
 {'_id': 'Unit', 'count': 2786},
 {'_id': 'Terrace House', 'count': 1461},
 {'_id': 'Terraced', 'count': 1432},
 {'_id': 'TOWNHOUSE', 'count': 901},
 {'_id': 'Unit/Flat', 'count': 811},
 {'_id': 'Block of Units', 'count': 673},
 {'_id': 'Farm Dwelling', 'count': 630},
 {'_id': 'DUPLEX', 'count': 500},
 {'_id': 'Shed', 'count': 429},
 {'_id': 'VILLA', 'count': 361},
 {'_id': 'Flat', 'count': 360},
 {'_id': 'Other', 'count': 341},
 {'_id': 'Retirement Village', 'count': 330},
 {'_id': 'Factory Unit', 'count': 295},
 {'_id': 'Duplex', 'count': 285},
 {'_id': 'Villa', 'count': 117},
 {'_id': 'UNITS (BLOCK OF)', 'count': 110},
 {'_id': 'GRANNY FLAT - SELF CONTAINED', 'count': 82},
 {'_id': 'Terrace/Semi-detached', 'count': 74},
 {'_id': 'Shop', 'count': 54},
 {'_id': 'Commercial Farm', 'count': 52},
 {'_id': 'Commercial Office', 'count': 48},
 {'_id': 'RETIREMENT VILLAGE', 'count': 32},
 {'_id': 'HOBBY FARM OR A DOMESTIC DWELLING ON A COMMERCIAL PROPERTY',
  'count': 32},
 {'_id': 'Warehouse', 'count': 31},
 {'_id': 'RELOCATABLE / DEMOUNTABLE DWELLING', 'count': 26},
 {'_id': 'Hobby Farm', 'count': 14},
 {'_id': 'SHOPFRONT', 'count': 6},
 {'_id': 'Granny Flat', 'count': 4},
 {'_id': 'STUDENT QUARTERS / NURSES QTRS', 'count': 1},
 {'_id': 'Onsite Relocatable Home', 'count': 1},
 {'_id': 'BED AND BREAKFAST', 'count': 1}]
FAIL: Normal Dwelling does not exist in the allowed list of values.
FAIL: Home Unit does not exist in the allowed list of values.
FAIL: Semi Detached Dwelling does not exist in the allowed list of values.
FAIL: Holiday Home - Weekender does not exist in the allowed list of values.
FAIL: Flat / Apartment does not exist in the allowed list of values.
FAIL: Retirement Village Unit does not exist in the allowed list of values.
FAIL: Terrace House does not exist in the allowed list of values.
FAIL: Unit/Flat does not exist in the allowed list of values.
FAIL: Block of Units does not exist in the allowed list of values.
FAIL: Farm Dwelling does not exist in the allowed list of values.
FAIL: Other does not exist in the allowed list of values.
FAIL: Duplex does not exist in the allowed list of values.
FAIL: Villa does not exist in the allowed list of values.
FAIL: Terrace/Semi-detached does not exist in the allowed list of values.
FAIL: Hobby Farm does not exist in the allowed list of values.
FAIL: Granny Flat does not exist in the allowed list of values.
FAIL: Onsite Relocatable Home does not exist in the allowed list of values.

In [157]:
# occupancy_code
pipeline = [
    {"$group": {"_id": "$occupancy_code", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

test_list = list(db.property_structures.aggregate(pipeline))
value_list = []
allowed_list = [None, 'COMBINATION OF OWNER(S) AND BOARDER(S)', 'COMBINATION OF OWNER(S) AND TENANT(S)', 
                'FOR SALE AND TENANTED', 'I own and live in the home', 
                'I rent from a landlord, by myself or with family', "It's my holiday/weekend home", 
                "It's my holiday/weekend home that I also rent out", 'No one lives in the home',
                'OWNER WHO LIVES IN THE HOME', "OWNER'S HOLIDAY HOME/WEEKENDER", 
                'RENTER - INSURING OWN CONTENTS LEASED TO TENANT', 'SEARCHING FOR TENANT UNOCCUPIED <= 30 DAYS', 
                'STRATA OWNER WHO LIVES IN THEHOME', 'STRATA TENANTS WHO LIVE IN THEHOME', 
                'TENANTS - LANDLORD INSURING CONTENTS', 'TENANTS - OWNER RENTS HOME OUTFOR HOLIDAY LETTING', 
                'UNOCCUPIED']

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))
    
x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 13183560},
 {'_id': 'OWNER WHO LIVES IN THE HOME', 'count': 1898152},
 {'_id': 'RENTER - INSURING OWN CONTENTS LEASED TO TENANT', 'count': 798230},
 {'_id': 'Owner Occupier', 'count': 273944},
 {'_id': 'TENANTS - LANDLORD INSURING CONTENTS', 'count': 193566},
 {'_id': 'Tenants', 'count': 98251},
 {'_id': 'Tenants via a landlord', 'count': 70925},
 {'_id': 'COMBINATION OF OWNER(S) AND TENANT(S)', 'count': 38333},
 {'_id': 'UNOCCUPIED', 'count': 37935},
 {'_id': 'Unknown', 'count': 32982},
 {'_id': "OWNER'S HOLIDAY HOME/WEEKENDER", 'count': 29276},
 {'_id': 'SEARCHING FOR TENANT UNOCCUPIED <= 30 DAYS', 'count': 22783},
 {'_id': 'I own and live in the home', 'count': 9372},
 {'_id': 'TENANTS - OWNER RENTS HOME OUTFOR HOLIDAY LETTING', 'count': 9194},
 {'_id': 'STRATA OWNER WHO LIVES IN THEHOME', 'count': 5761},
 {'_id': 'Owners Holiday Home / Weekender', 'count': 5089},
 {'_id': 'I rent from a landlord with flatmates', 'count': 2483},
 {'_id': 'Unoccupied', 'count': 1883},
 {'_id': 'COMBINATION OF OWNER(S) AND BOARDER(S)', 'count': 1823},
 {'_id': 'STRATA TENANTS WHO LIVE IN THEHOME', 'count': 1768},
 {'_id': 'FOR SALE AND TENANTED', 'count': 355},
 {'_id': 'Combination of Owners & Tenants', 'count': 224},
 {'_id': 'Tenants for Holiday Letting', 'count': 219},
 {'_id': 'I rent from a landlord, by myself or with family', 'count': 210},
 {'_id': "It's my holiday/weekend home", 'count': 146},
 {'_id': 'Combination of Owners and Boarders', 'count': 77},
 {'_id': 'No one lives in the home', 'count': 17},
 {'_id': 'I live in the home and also have tenants or flatmates', 'count': 14},
 {'_id': "It's my holiday/weekend home that I also rent out", 'count': 8}]
FAIL: Owner Occupier does not exist in the allowed list of values.
FAIL: Tenants does not exist in the allowed list of values.
FAIL: Tenants via a landlord does not exist in the allowed list of values.
FAIL: Unknown does not exist in the allowed list of values.
FAIL: Owners Holiday Home / Weekender does not exist in the allowed list of values.
FAIL: I rent from a landlord with flatmates does not exist in the allowed list of values.
FAIL: Unoccupied does not exist in the allowed list of values.
FAIL: Combination of Owners & Tenants does not exist in the allowed list of values.
FAIL: Tenants for Holiday Letting does not exist in the allowed list of values.
FAIL: Combination of Owners and Boarders does not exist in the allowed list of values.
FAIL: I live in the home and also have tenants or flatmates does not exist in the allowed list of values.

In [125]:
# primary roof type
pipeline = [
    {"$group": {"_id": "$primary_roof_type", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []
allowed_list = [None, 'Asbestos', 'Concrete roof', 'Concrete tile', 'Fibrecement covering', 'Metal covering', 
                'Slate', 'Terracotta', 'Timber shingles']

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))
    
x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 14467428},
 {'_id': 'Concrete tile', 'count': 1067735},
 {'_id': 'Metal covering', 'count': 719830},
 {'_id': 'Terracotta', 'count': 423528},
 {'_id': 'Slate', 'count': 18691},
 {'_id': 'Fibrecement covering', 'count': 12480},
 {'_id': 'Timber shingles', 'count': 4808},
 {'_id': 'Asbestos', 'count': 1249},
 {'_id': 'Concrete roof', 'count': 805},
 {'_id': 'Other', 'count': 26}]
FAIL: Other does not exist in the allowed list of values.

In [126]:
# primary wall type
pipeline = [
    {"$group": {"_id": "$primary_wall_type", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []
allowed_list = [None, 'Blockwork', 'Brick veneer', 'Double brick', 'Other', 'Rendered masonry', 'Sheet cladding', 
                'Weatherboard - Artificial', 'Weatherboard - Timber']

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))
    
x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 13907511},
 {'_id': 'Brick veneer', 'count': 1577772},
 {'_id': 'Double brick', 'count': 542154},
 {'_id': 'Weatherboard - Timber', 'count': 308571},
 {'_id': 'Weatherboard - Artificial', 'count': 139707},
 {'_id': 'Sheet cladding', 'count': 129573},
 {'_id': 'Other', 'count': 63160},
 {'_id': 'Blockwork', 'count': 45932},
 {'_id': 'Rendered masonry', 'count': 2013},
 {'_id': 'Stonework veneer', 'count': 109},
 {'_id': 'Stonework', 'count': 77},
 {'_id': 'AAC panel', 'count': 1}]
FAIL: Stonework veneer does not exist in the allowed list of values.
FAIL: Stonework does not exist in the allowed list of values.
FAIL: AAC panel does not exist in the allowed list of values.

In [130]:
# period of construction 
pipeline = [
    {"$group": {"_id": "$period_of_construction", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []
allowed_list = [None, "Contemporary", "Federation", "PostWar", "Victorian", "War"]

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 14419731},
 {'_id': 'Contemporary', 'count': 1929123},
 {'_id': 'PostWar', 'count': 174228},
 {'_id': 'War', 'count': 153931},
 {'_id': 'Federation', 'count': 27128},
 {'_id': 'Victorian', 'count': 12439}]
SUCCESS

In [131]:
# quality of construction 
pipeline = [
    {"$group": {"_id": "$quality_of_construction", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []
allowed_list = [None, "Quality", "Standard"]

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15475363},
 {'_id': 'Standard', 'count': 1217132},
 {'_id': 'Quality', 'count': 24084},
 {'_id': 'Prestige', 'count': 1}]
FAIL: Prestige does not exist in the allowed list of values.

In [25]:
# bedroom count
pipeline = [
    {"$group": {"_id": "$bedroom_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15353648},
 {'_id': 3, 'count': 571148},
 {'_id': 4, 'count': 492488},
 {'_id': 5, 'count': 167045},
 {'_id': 2, 'count': 115898},
 {'_id': 6, 'count': 34502},
 {'_id': 0, 'count': 29891},
 {'_id': 1, 'count': 14144},
 {'_id': 7, 'count': 6663},
 {'_id': 8, 'count': 4820},
 {'_id': 9, 'count': 8},
 {'_id': 10, 'count': 2},
 {'_id': 54, 'count': 1},
 {'_id': 41, 'count': 1},
 {'_id': 36, 'count': 1},
 {'_id': 18, 'count': 1},
 {'_id': 12, 'count': 1},
 {'_id': 11, 'count': 1}]
FAIL: None does not exist in the allowed list of values.

In [27]:
# bedroom small count
pipeline = [
    {"$group": {"_id": "$bedroom_small_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(1, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16784162},
 {'_id': 0, 'count': 5731},
 {'_id': 1, 'count': 160},
 {'_id': 2, 'count': 122},
 {'_id': 3, 'count': 61},
 {'_id': 4, 'count': 21},
 {'_id': 20, 'count': 3},
 {'_id': 9, 'count': 1},
 {'_id': 7, 'count': 1},
 {'_id': 6, 'count': 1}]
FAIL: None does not exist in the allowed list of values.
FAIL: 0 does not exist in the allowed list of values.

In [28]:
# bedroom medium count
pipeline = [
    {"$group": {"_id": "$bedroom_medium_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15567096},
 {'_id': 3, 'count': 508295},
 {'_id': 4, 'count': 431586},
 {'_id': 5, 'count': 136053},
 {'_id': 2, 'count': 87599},
 {'_id': 6, 'count': 27223},
 {'_id': 0, 'count': 13077},
 {'_id': 1, 'count': 9817},
 {'_id': 7, 'count': 5119},
 {'_id': 8, 'count': 4079},
 {'_id': 10, 'count': 220},
 {'_id': 20, 'count': 28},
 {'_id': 9, 'count': 16},
 {'_id': 13, 'count': 10},
 {'_id': 17, 'count': 7},
 {'_id': 15, 'count': 7},
 {'_id': 14, 'count': 7},
 {'_id': 12, 'count': 7},
 {'_id': 19, 'count': 5},
 {'_id': 16, 'count': 5},
 {'_id': 11, 'count': 5},
 {'_id': 18, 'count': 2}]
FAIL: None does not exist in the allowed list of values.

In [29]:
# bedroom large count
pipeline = [
    {"$group": {"_id": "$bedroom_large_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16651752},
 {'_id': 4, 'count': 48463},
 {'_id': 3, 'count': 35081},
 {'_id': 5, 'count': 29178},
 {'_id': 2, 'count': 8174},
 {'_id': 6, 'count': 7157},
 {'_id': 0, 'count': 6763},
 {'_id': 7, 'count': 1541},
 {'_id': 1, 'count': 1351},
 {'_id': 8, 'count': 749},
 {'_id': 10, 'count': 47},
 {'_id': 9, 'count': 4},
 {'_id': 20, 'count': 3}]
FAIL: None does not exist in the allowed list of values.

In [26]:
# average bedroom size
pipeline = [
    {"$group": {"_id": "$average_bedroom_size", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15440107},
 {'_id': 'Average', 'count': 1217657},
 {'_id': 'Large', 'count': 132499}]
FAIL: None does not exist in the allowed list of values.

In [61]:
# construction year 
pipeline = [
    {"$group": {"_id": "$construction_year", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

pprint.pprint(list(db.property_structures.aggregate(pipeline)))

[{'_id': None, 'count': 14419353},
 {'_id': 1980, 'count': 113416},
 {'_id': 1970, 'count': 111641},
 {'_id': 1960, 'count': 94598},
 {'_id': 1985, 'count': 85849},
 {'_id': 1975, 'count': 80340},
 {'_id': 1950, 'count': 79674},
 {'_id': 1990, 'count': 73878},
 {'_id': 2000, 'count': 60554},
 {'_id': 1995, 'count': 55382},
 {'_id': 1965, 'count': 54101},
 {'_id': 2005, 'count': 38790},
 {'_id': 2002, 'count': 37806},
 {'_id': 2003, 'count': 36714},
 {'_id': 2004, 'count': 36464},
 {'_id': 1998, 'count': 35826},
 {'_id': 1955, 'count': 35173},
 {'_id': 2006, 'count': 34058},
 {'_id': 2010, 'count': 33772},
 {'_id': 2007, 'count': 33704},
 {'_id': 2001, 'count': 33200},
 {'_id': 1999, 'count': 32886},
 {'_id': 1994, 'count': 32332},
 {'_id': 2008, 'count': 32259},
 {'_id': 1992, 'count': 31272},
 {'_id': 1996, 'count': 30978},
 {'_id': 2009, 'count': 30034},
 {'_id': 1997, 'count': 29963},
 {'_id': 1993, 'count': 29473},
 {'_id': 1988, 'count': 27203},
 {'_id': 1989, 'count': 27121},
 {'_id': 1940, 'count': 26268},
 {'_id': 2011, 'count': 26119},
 {'_id': 1930, 'count': 26003},
 {'_id': 1920, 'count': 25570},
 {'_id': 2012, 'count': 24822},
 {'_id': 2015, 'count': 23975},
 {'_id': 2014, 'count': 23900},
 {'_id': 1986, 'count': 23388},
 {'_id': 2013, 'count': 23090},
 {'_id': 1978, 'count': 22929},
 {'_id': 1982, 'count': 22920},
 {'_id': 1987, 'count': 22769},
 {'_id': 1991, 'count': 22497},
 {'_id': 1984, 'count': 22130},
 {'_id': 2016, 'count': 21975},
 {'_id': 1983, 'count': 20320},
 {'_id': 2017, 'count': 20004},
 {'_id': 1972, 'count': 18830},
 {'_id': 1979, 'count': 18807},
 {'_id': 2018, 'count': 17362},
 {'_id': 1976, 'count': 17182},
 {'_id': 1974, 'count': 17142},
 {'_id': 1973, 'count': 16223},
 {'_id': 1977, 'count': 15593},
 {'_id': 1981, 'count': 15580},
 {'_id': 1935, 'count': 14617},
 {'_id': 1945, 'count': 14481},
 {'_id': 1968, 'count': 14364},
 {'_id': 2019, 'count': 14360},
 {'_id': 1969, 'count': 12703},
 {'_id': 1971, 'count': 11391},
 {'_id': 2020, 'count': 10801},
 {'_id': 1910, 'count': 10161},
 {'_id': 1964, 'count': 10011},
 {'_id': 1967, 'count': 9942},
 {'_id': 1966, 'count': 9376},
 {'_id': 1962, 'count': 9111},
 {'_id': 1925, 'count': 9070},
 {'_id': 1963, 'count': 8873},
 {'_id': 1958, 'count': 7577},
 {'_id': 1956, 'count': 6747},
 {'_id': 1959, 'count': 6418},
 {'_id': 1952, 'count': 6113},
 {'_id': 1961, 'count': 5749},
 {'_id': 1957, 'count': 5732},
 {'_id': 1954, 'count': 5383},
 {'_id': 1953, 'count': 4815},
 {'_id': 1890, 'count': 4673},
 {'_id': 1948, 'count': 4288},
 {'_id': 1915, 'count': 3787},
 {'_id': 1946, 'count': 3351},
 {'_id': 1951, 'count': 3033},
 {'_id': 1947, 'count': 3033},
 {'_id': 1949, 'count': 2912},
 {'_id': 1905, 'count': 2581},
 {'_id': 1927, 'count': 2403},
 {'_id': 1880, 'count': 2372},
 {'_id': 1926, 'count': 2365},
 {'_id': 1928, 'count': 2249},
 {'_id': 1938, 'count': 2157},
 {'_id': 1939, 'count': 1870},
 {'_id': 1936, 'count': 1833},
 {'_id': 1912, 'count': 1622},
 {'_id': 1942, 'count': 1588},
 {'_id': 1929, 'count': 1588},
 {'_id': 1914, 'count': 1544},
 {'_id': 1937, 'count': 1540},
 {'_id': 1923, 'count': 1404},
 {'_id': 1908, 'count': 1311},
 {'_id': 2021, 'count': 1295},
 {'_id': 1932, 'count': 1289},
 {'_id': 1913, 'count': 1288},
 {'_id': 1924, 'count': 1242},
 {'_id': 1901, 'count': 1219},
 {'_id': 1918, 'count': 1142},
 {'_id': 1917, 'count': 1103},
 {'_id': 1922, 'count': 1088},
 {'_id': 1919, 'count': 1019},
 {'_id': 1906, 'count': 1014},
 {'_id': 1911, 'count': 996},
 {'_id': 1934, 'count': 992},
 {'_id': 1916, 'count': 991},
 {'_id': 1895, 'count': 965},
 {'_id': 1941, 'count': 940},
 {'_id': 1944, 'count': 860},
 {'_id': 1943, 'count': 850},
 {'_id': 1907, 'count': 845},
 {'_id': 1933, 'count': 797},
 {'_id': 1904, 'count': 779},
 {'_id': 1921, 'count': 759},
 {'_id': 1903, 'count': 736},
 {'_id': 1870, 'count': 715},
 {'_id': 1902, 'count': 678},
 {'_id': 1909, 'count': 607},
 {'_id': 1860, 'count': 568},
 {'_id': 1931, 'count': 536},
 {'_id': 1885, 'count': 491},
 {'_id': 1900, 'count': 461},
 {'_id': 1850, 'count': 414},
 {'_id': 1896, 'count': 357},
 {'_id': 1898, 'count': 320},
 {'_id': 1886, 'count': 282},
 {'_id': 1888, 'count': 271},
 {'_id': 1897, 'count': 256},
 {'_id': 1840, 'count': 248},
 {'_id': 1892, 'count': 217},
 {'_id': 1893, 'count': 204},
 {'_id': 1899, 'count': 198},
 {'_id': 1875, 'count': 183},
 {'_id': 1883, 'count': 175},
 {'_id': 1887, 'count': 173},
 {'_id': 1889, 'count': 168},
 {'_id': 1884, 'count': 162},
 {'_id': 1894, 'count': 152},
 {'_id': 1891, 'count': 145},
 {'_id': 1882, 'count': 133},
 {'_id': 1865, 'count': 124},
 {'_id': 1800, 'count': 114},
 {'_id': 1881, 'count': 100},
 {'_id': 1878, 'count': 92},
 {'_id': 1876, 'count': 81},
 {'_id': 1856, 'count': 68},
 {'_id': 1879, 'count': 64},
 {'_id': 1867, 'count': 51},
 {'_id': 1830, 'count': 50},
 {'_id': 1874, 'count': 49},
 {'_id': 1855, 'count': 49},
 {'_id': 1864, 'count': 47},
 {'_id': 1872, 'count': 45},
 {'_id': 1877, 'count': 41},
 {'_id': 1873, 'count': 40},
 {'_id': 1869, 'count': 39},
 {'_id': 1868, 'count': 37},
 {'_id': 1866, 'count': 35},
 {'_id': 1845, 'count': 35},
 {'_id': 1857, 'count': 31},
 {'_id': 1853, 'count': 31},
 {'_id': 1854, 'count': 30},
 {'_id': 1863, 'count': 27},
 {'_id': 1862, 'count': 26},
 {'_id': 1861, 'count': 26},
 {'_id': 1858, 'count': 26},
 {'_id': 1859, 'count': 25},
 {'_id': 1842, 'count': 25},
 {'_id': 1820, 'count': 25},
 {'_id': 1852, 'count': 24},
 {'_id': 1846, 'count': 24},
 {'_id': 1871, 'count': 21},
 {'_id': 1848, 'count': 19},
 {'_id': 1851, 'count': 18},
 {'_id': 1837, 'count': 17},
 {'_id': 1847, 'count': 16},
 {'_id': 1835, 'count': 16},
 {'_id': 1849, 'count': 13},
 {'_id': 1843, 'count': 13},
 {'_id': 1841, 'count': 9},
 {'_id': 1834, 'count': 9},
 {'_id': 1844, 'count': 8},
 {'_id': 1839, 'count': 8},
 {'_id': 1836, 'count': 8},
 {'_id': 1833, 'count': 6},
 {'_id': 1832, 'count': 6},
 {'_id': 1818, 'count': 6},
 {'_id': 1810, 'count': 6},
 {'_id': 1838, 'count': 5},
 {'_id': 1823, 'count': 5},
 {'_id': 1819, 'count': 5},
 {'_id': 1809, 'count': 5},
 {'_id': 1826, 'count': 4},
 {'_id': 1825, 'count': 4},
 {'_id': 1790, 'count': 4},
 {'_id': 1814, 'count': 3},
 {'_id': 1794, 'count': 3},
 {'_id': 1831, 'count': 2},
 {'_id': 1829, 'count': 2},
 {'_id': 1816, 'count': 2},
 {'_id': 1815, 'count': 2},
 {'_id': 1811, 'count': 2},
 {'_id': 1808, 'count': 2},
 {'_id': 1806, 'count': 2},
 {'_id': 1805, 'count': 2},
 {'_id': 1795, 'count': 2},
 {'_id': 1789, 'count': 2},
 {'_id': 1828, 'count': 1},
 {'_id': 1827, 'count': 1},
 {'_id': 1813, 'count': 1},
 {'_id': 1812, 'count': 1},
 {'_id': 1804, 'count': 1},
 {'_id': 1802, 'count': 1},
 {'_id': 1796, 'count': 1},
 {'_id': 1791, 'count': 1}]

In [158]:
# distance to bushland category 
pipeline = [
    {"$group": {"_id": "$distance_to_bushland_category", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []
allowed_list = [None, "Within 15m", "Between 16m and 100m", "More than 100m"]

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16705386},
 {'_id': 'Within 15m', 'count': 11008},
 {'_id': 'Between 16m and 100m', 'count': 118},
 {'_id': 'More than 100m', 'count': 68}]
SUCCESS

In [134]:
# has solar panels
pipeline = [
    {"$group": {"_id": "$has_solar_panels", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []
allowed_list = [None, False, True]

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16714280},
 {'_id': False, 'count': 2289},
 {'_id': True, 'count': 11}]
SUCCESS

In [64]:
# floor area 
pipeline = [
    {"$group": {"_id": "$floor_area", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

pprint.pprint(list(db.property_structures.aggregate(pipeline)))

[{'_id': None, 'count': 16716580}]

In [32]:
# verandah count 
pipeline = [
    {"$group": {"_id": "$verandah_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15392166},
 {'_id': 0, 'count': 749851},
 {'_id': 1, 'count': 522484},
 {'_id': 2, 'count': 101919},
 {'_id': 3, 'count': 14541},
 {'_id': 4, 'count': 8674},
 {'_id': 5, 'count': 356},
 {'_id': 6, 'count': 272}]
FAIL: None does not exist in the allowed list of values.

In [39]:
# lounge room count 
pipeline = [
    {"$group": {"_id": "$lounge_room_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 103): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16677457},
 {'_id': 1, 'count': 98505},
 {'_id': 0, 'count': 7177},
 {'_id': 2, 'count': 6893},
 {'_id': 3, 'count': 225},
 {'_id': 4, 'count': 6}]
FAIL: None does not exist in the allowed list of values.

In [38]:
# family room count 
pipeline = [
    {"$group": {"_id": "$family_room_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 102): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16652055},
 {'_id': 0, 'count': 88121},
 {'_id': 1, 'count': 47716},
 {'_id': 2, 'count': 1736},
 {'_id': 3, 'count': 621},
 {'_id': 4, 'count': 10},
 {'_id': 6, 'count': 2},
 {'_id': 5, 'count': 2}]
FAIL: None does not exist in the allowed list of values.

In [40]:
# game room count 
pipeline = [
    {"$group": {"_id": "$game_room_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 104): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16677457},
 {'_id': 0, 'count': 93598},
 {'_id': 1, 'count': 18780},
 {'_id': 2, 'count': 411},
 {'_id': 3, 'count': 15},
 {'_id': 4, 'count': 2}]
FAIL: None does not exist in the allowed list of values.

In [41]:
# sun room count 
pipeline = [
    {"$group": {"_id": "$sun_room_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 105): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16677457},
 {'_id': 0, 'count': 103356},
 {'_id': 1, 'count': 9245},
 {'_id': 2, 'count': 191},
 {'_id': 3, 'count': 14}]
FAIL: None does not exist in the allowed list of values.

In [33]:
# dining room count 
pipeline = [
    {"$group": {"_id": "$dining_room_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16671440},
 {'_id': 1, 'count': 90254},
 {'_id': 0, 'count': 26224},
 {'_id': 2, 'count': 2316},
 {'_id': 3, 'count': 26},
 {'_id': 7, 'count': 1},
 {'_id': 6, 'count': 1},
 {'_id': 4, 'count': 1}]
FAIL: None does not exist in the allowed list of values.

In [31]:
# balcony count 
pipeline = [
    {"$group": {"_id": "$balcony_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15392170},
 {'_id': 0, 'count': 914389},
 {'_id': 1, 'count': 381184},
 {'_id': 2, 'count': 83176},
 {'_id': 3, 'count': 14281},
 {'_id': 4, 'count': 3718},
 {'_id': 5, 'count': 709},
 {'_id': 6, 'count': 636}]
FAIL: None does not exist in the allowed list of values.

In [30]:
# bathroom count 
pipeline = [
    {"$group": {"_id": "$bathroom_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.property_structures.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15392121},
 {'_id': 2, 'count': 666573},
 {'_id': 1, 'count': 489720},
 {'_id': 3, 'count': 182762},
 {'_id': 4, 'count': 40333},
 {'_id': 0, 'count': 18736},
 {'_id': 20, 'count': 9},
 {'_id': 5, 'count': 5},
 {'_id': 6, 'count': 3},
 {'_id': 9, 'count': 1}]
FAIL: None does not exist in the allowed list of values.

Properties collection

In [9]:
collection = db['properties']

In [15]:
# has inground pool 
pipeline = [
    {"$group": {"_id": "$has_inground_pool", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

pprint.pprint(list(db.properties.aggregate(pipeline)))

[{'_id': None, 'count': 15414145},
 {'_id': False, 'count': 1168274},
 {'_id': True, 'count': 207844}]

In [16]:
# garage count
pipeline = [
    {"$group": {"_id": "$garage_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15368582},
 {'_id': 2, 'count': 542714},
 {'_id': 0, 'count': 437734},
 {'_id': 1, 'count': 377719},
 {'_id': 3, 'count': 42557},
 {'_id': 4, 'count': 15654},
 {'_id': 6, 'count': 3216},
 {'_id': 5, 'count': 2084},
 {'_id': 7, 'count': 2},
 {'_id': 10, 'count': 1}]
FAIL: None does not exist in the allowed list of values.

In [155]:
# garage types
pipeline = [
    {"$group": {"_id": "$garage_types", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []
allowed_list = [None, 'Brick Garage', 'Fibro Garage', 'Metal Garage']

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16708335},
 {'_id': ['Brick Garage'], 'count': 4694},
 {'_id': ['Metal Garage'], 'count': 2494},
 {'_id': ['Fibro Garage'], 'count': 927},
 {'_id': ['Metal Garage', 'Brick Garage'], 'count': 79},
 {'_id': ['Metal Garage', 'Fibro Garage'], 'count': 38},
 {'_id': ['Brick Garage', 'Fibro Garage'], 'count': 12},
 {'_id': ['Metal Garage', 'Brick Garage', 'Fibro Garage'], 'count': 1}]
FAIL: ['Brick Garage'] does not exist in the allowed list of values.
FAIL: ['Metal Garage'] does not exist in the allowed list of values.
FAIL: ['Fibro Garage'] does not exist in the allowed list of values.
FAIL: ['Metal Garage', 'Brick Garage'] does not exist in the allowed list of values.
FAIL: ['Metal Garage', 'Fibro Garage'] does not exist in the allowed list of values.
FAIL: ['Brick Garage', 'Fibro Garage'] does not exist in the allowed list of values.
FAIL: ['Metal Garage', 'Brick Garage', 'Fibro Garage'] does not exist in the allowed list of values.

In [23]:
# carport count 
pipeline = [
    {"$group": {"_id": "$carport_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15412356},
 {'_id': 0, 'count': 964596},
 {'_id': 1, 'count': 270638},
 {'_id': 2, 'count': 122817},
 {'_id': 3, 'count': 12609},
 {'_id': 4, 'count': 5444},
 {'_id': 6, 'count': 1019},
 {'_id': 5, 'count': 784}]
FAIL: None does not exist in the allowed list of values.

In [22]:
# workshop count 
pipeline = [
    {"$group": {"_id": "$workshop_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16677457},
 {'_id': 0, 'count': 80508},
 {'_id': 1, 'count': 29019},
 {'_id': 2, 'count': 2771},
 {'_id': 3, 'count': 376},
 {'_id': 4, 'count': 132}]
FAIL: None does not exist in the allowed list of values.

In [144]:
# has tennis courts 
pipeline = [
    {"$group": {"_id": "$has_tennis_court", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []
allowed_list = [None, False, True]

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15348343},
 {'_id': False, 'count': 1361727},
 {'_id': True, 'count': 6510}]
SUCCESS

In [145]:
# has pool 
pipeline = [
    {"$group": {"_id": "$has_pool", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []
allowed_list = [None, False, True]

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16324343},
 {'_id': False, 'count': 362727},
 {'_id': True, 'count': 29510}]
SUCCESS

In [78]:
# has spa 
pipeline = [
    {"$group": {"_id": "$has_spa", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]

pprint.pprint(list(db.properties.aggregate(pipeline)))

[{'_id': None, 'count': 16394503},
 {'_id': False, 'count': 314594},
 {'_id': True, 'count': 7483}]

In [146]:
# slope 
pipeline = [
    {"$group": {"_id": "$slope", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []
allowed_list = [None, "Flat/Gentle", "Severe"]

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15366570},
 {'_id': 'Flat/Gentle', 'count': 1263030},
 {'_id': 'Severe', 'count': 86901},
 {'_id': 'Moderate', 'count': 79}]
FAIL: Moderate does not exist in the allowed list of values.

In [20]:
# storage small count 
pipeline = [
    {"$group": {"_id": "$storage_small_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15368577},
 {'_id': 0, 'count': 918360},
 {'_id': 1, 'count': 444856},
 {'_id': 2, 'count': 51505},
 {'_id': 3, 'count': 5844},
 {'_id': 4, 'count': 826},
 {'_id': 5, 'count': 180},
 {'_id': 6, 'count': 115}]
FAIL: None does not exist in the allowed list of values.

In [21]:
# storage large count 
pipeline = [
    {"$group": {"_id": "$storage_large_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 15368577},
 {'_id': 0, 'count': 1200028},
 {'_id': 1, 'count': 199661},
 {'_id': 2, 'count': 17428},
 {'_id': 3, 'count': 2900},
 {'_id': 4, 'count': 939},
 {'_id': 6, 'count': 481},
 {'_id': 5, 'count': 249}]
FAIL: None does not exist in the allowed list of values.

In [151]:
# flat_type
pipeline = [
    {"$group": {"_id": "$flat_type", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []
allowed_list = [None, 'ANTENNA', 'APARTMENT', 'AUTOMATED TELLER MACHINE', 'BLOCK', 'BOATSHED', 'BUILDING', 
                'BUNGALOW', 'CAGE', 'CARPARK', 'CARSPACE', 'CLUB', 'COOLROOM', 'COTTAGE', 'DUPLEX', 'FACTORY', 'FLAT',
                'GARAGE', 'HALL', 'HOUSE', 'KIOSK', 'LOFT', 'LOT', 'MAISONETTE', 'MARINE BERTH', 'OFFICE', 
                'PENTHOUSE', 'REAR', 'RESERVE', 'ROOM', 'SECTION', 'SHED', 'SHOP', 'SHOWROOM', 'SIGN', 'SITE', 
                'STALL', 'STORE', 'STRATA UNIT', 'STUDIO', 'SUBSTATION', 'SUITE', 'TENANCY', 'TOWER', 'TOWNHOUSE',
                'UNIT', 'VAULT', 'VILLA', 'WARD', 'WAREHOUSE', 'WORKSHOP']

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 11651478},
 {'_id': 'UNIT', 'count': 4497109},
 {'_id': 'SHOP', 'count': 181597},
 {'_id': 'FLAT', 'count': 132266},
 {'_id': 'SUITE', 'count': 81876},
 {'_id': 'APARTMENT', 'count': 38463},
 {'_id': 'CARSPACE', 'count': 28136},
 {'_id': 'VILLA', 'count': 17647},
 {'_id': 'SITE', 'count': 16600},
 {'_id': 'TENANCY', 'count': 9204},
 {'_id': 'ROOM', 'count': 8372},
 {'_id': 'FACTORY', 'count': 8319},
 {'_id': 'TOWNHOUSE', 'count': 8309},
 {'_id': 'OFFICE', 'count': 7790},
 {'_id': 'SHED', 'count': 6134},
 {'_id': 'HOUSE', 'count': 4541},
 {'_id': 'KIOSK', 'count': 3370},
 {'_id': 'DUPLEX', 'count': 2806},
 {'_id': 'STRATA UNIT', 'count': 2418},
 {'_id': 'STORE', 'count': 1751},
 {'_id': 'COTTAGE', 'count': 1549},
 {'_id': 'WAREHOUSE', 'count': 1275},
 {'_id': 'MARINE BERTH', 'count': 1043},
 {'_id': 'CARPARK', 'count': 866},
 {'_id': 'BOATSHED', 'count': 693},
 {'_id': 'REAR', 'count': 416},
 {'_id': 'LOT', 'count': 406},
 {'_id': 'AUTOMATED TELLER MACHINE', 'count': 367},
 {'_id': 'BUILDING', 'count': 337},
 {'_id': 'PENTHOUSE', 'count': 321},
 {'_id': 'STALL', 'count': 259},
 {'_id': 'TOWER', 'count': 221},
 {'_id': 'STUDIO', 'count': 204},
 {'_id': 'ANTENNA', 'count': 73},
 {'_id': 'SUBSTATION', 'count': 63},
 {'_id': 'SHOWROOM', 'count': 44},
 {'_id': 'GARAGE', 'count': 42},
 {'_id': 'SIGN', 'count': 36},
 {'_id': 'BLOCK', 'count': 26},
 {'_id': 'VAULT', 'count': 25},
 {'_id': 'SECTION', 'count': 25},
 {'_id': 'WARD', 'count': 22},
 {'_id': 'WORKSHOP', 'count': 17},
 {'_id': 'MAISONETTE', 'count': 17},
 {'_id': 'HALL', 'count': 14},
 {'_id': 'LOFT', 'count': 12},
 {'_id': 'COOLROOM', 'count': 9},
 {'_id': 'CLUB', 'count': 7},
 {'_id': 'RESERVE', 'count': 2},
 {'_id': 'CAGE', 'count': 2},
 {'_id': 'BUNGALOW', 'count': 1}]
SUCCESS

In [152]:
# level_type 
pipeline = [
    {"$group": {"_id": "$level_type", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []
allowed_list = [None, 'BASEMENT', 'FLOOR', 'GROUND', 'LEVEL', 'LOBBY', 'LOWER GROUND FLOOR', 'MEZZANINE', 'PARKING',
                'ROOFTOP', 'UPPER GROUND FLOOR']

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16461039},
 {'_id': 'LEVEL', 'count': 221426},
 {'_id': 'FLOOR', 'count': 32031},
 {'_id': 'GROUND', 'count': 1203},
 {'_id': 'BASEMENT', 'count': 579},
 {'_id': 'LOWER GROUND FLOOR', 'count': 193},
 {'_id': 'MEZZANINE', 'count': 50},
 {'_id': 'UPPER GROUND FLOOR', 'count': 34},
 {'_id': 'ROOFTOP', 'count': 12},
 {'_id': 'LOBBY', 'count': 10},
 {'_id': 'PARKING', 'count': 3}]
SUCCESS

In [17]:
# level number 
pipeline = [
    {"$group": {"_id": "$level_number", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16538806},
 {'_id': '1', 'count': 52743},
 {'_id': '2', 'count': 33020},
 {'_id': '3', 'count': 22168},
 {'_id': '4', 'count': 16615},
 {'_id': '5', 'count': 13754},
 {'_id': '6', 'count': 11464},
 {'_id': '7', 'count': 9920},
 {'_id': '8', 'count': 8153},
 {'_id': '9', 'count': 7216},
 {'_id': '10', 'count': 6316},
 {'_id': '11', 'count': 5530},
 {'_id': '12', 'count': 4835},
 {'_id': '13', 'count': 4122},
 {'_id': '14', 'count': 3735},
 {'_id': '15', 'count': 3343},
 {'_id': '16', 'count': 3061},
 {'_id': '17', 'count': 2878},
 {'_id': '18', 'count': 2642},
 {'_id': '19', 'count': 2369},
 {'_id': '20', 'count': 2244},
 {'_id': '21', 'count': 2007},
 {'_id': '22', 'count': 1872},
 {'_id': '23', 'count': 1785},
 {'_id': '24', 'count': 1663},
 {'_id': '25', 'count': 1591},
 {'_id': '26', 'count': 1547},
 {'_id': '27', 'count': 1451},
 {'_id': '28', 'count': 1357},
 {'_id': 'B', 'count': 1215},
 {'_id': 'A', 'count': 1190},
 {'_id': '29', 'count': 1180},
 {'_id': '30', 'count': 1084},
 {'_id': '31', 'count': 980},
 {'_id': '32', 'count': 947},
 {'_id': '33', 'count': 889},
 {'_id': 'C', 'count': 841},
 {'_id': '34', 'count': 819},
 {'_id': '35', 'count': 771},
 {'_id': '36', 'count': 717},
 {'_id': '38', 'count': 666},
 {'_id': '37', 'count': 643},
 {'_id': '39', 'count': 601},
 {'_id': '40', 'count': 562},
 {'_id': '41', 'count': 495},
 {'_id': '42', 'count': 446},
 {'_id': 'D', 'count': 445},
 {'_id': '43', 'count': 419},
 {'_id': '44', 'count': 414},
 {'_id': 'G', 'count': 390},
 {'_id': '45', 'count': 384},
 {'_id': '46', 'count': 347},
 {'_id': 'E', 'count': 314},
 {'_id': '47', 'count': 289},
 {'_id': '48', 'count': 284},
 {'_id': '49', 'count': 271},
 {'_id': '50', 'count': 258},
 {'_id': '52', 'count': 231},
 {'_id': '51', 'count': 229},
 {'_id': '53', 'count': 202},
 {'_id': '54', 'count': 189},
 {'_id': '56', 'count': 174},
 {'_id': '55', 'count': 172},
 {'_id': '57', 'count': 171},
 {'_id': 'F', 'count': 157},
 {'_id': '58', 'count': 148},
 {'_id': '60', 'count': 144},
 {'_id': '59', 'count': 143},
 {'_id': '61', 'count': 119},
 {'_id': '64', 'count': 107},
 {'_id': '65', 'count': 103},
 {'_id': '62', 'count': 96},
 {'_id': '63', 'count': 95},
 {'_id': 'B2', 'count': 75},
 {'_id': '66', 'count': 75},
 {'_id': '67', 'count': 74},
 {'_id': 'B1', 'count': 72},
 {'_id': 'H', 'count': 67},
 {'_id': 'L1', 'count': 62},
 {'_id': 'J', 'count': 50},
 {'_id': '69', 'count': 48},
 {'_id': 'K', 'count': 46},
 {'_id': '68', 'count': 46},
 {'_id': '75', 'count': 35},
 {'_id': '74', 'count': 35},
 {'_id': '73', 'count': 30},
 {'_id': '72', 'count': 30},
 {'_id': '70', 'count': 29},
 {'_id': 'QG', 'count': 26},
 {'_id': '78', 'count': 25},
 {'_id': '82', 'count': 24},
 {'_id': '77', 'count': 24},
 {'_id': 'L', 'count': 23},
 {'_id': '80', 'count': 22},
 {'_id': '76', 'count': 22},
 {'_id': '83', 'count': 21},
 {'_id': '84', 'count': 20},
 {'_id': '71', 'count': 20},
 {'_id': '2A', 'count': 20},
 {'_id': 'L3', 'count': 19},
 {'_id': '85', 'count': 19},
 {'_id': '81', 'count': 19},
 {'_id': 'L2', 'count': 18},
 {'_id': 'FL1', 'count': 18},
 {'_id': '79', 'count': 18},
 {'_id': '1A', 'count': 18},
 {'_id': 'L6', 'count': 17},
 {'_id': 'L5', 'count': 17},
 {'_id': 'L4', 'count': 17},
 {'_id': 'FL', 'count': 17},
 {'_id': 'L7', 'count': 15},
 {'_id': 'GG', 'count': 15},
 {'_id': 'I', 'count': 12},
 {'_id': '3A', 'count': 11},
 {'_id': 'BG', 'count': 9},
 {'_id': '86', 'count': 9},
 {'_id': '1L', 'count': 9},
 {'_id': 'L8', 'count': 7},
 {'_id': '4A', 'count': 7},
 {'_id': '12A', 'count': 7},
 {'_id': '2B', 'count': 6},
 {'_id': 'LG2', 'count': 5},
 {'_id': 'LG1', 'count': 5},
 {'_id': '88', 'count': 5},
 {'_id': '87', 'count': 5},
 {'_id': '104', 'count': 5},
 {'_id': '103', 'count': 5},
 {'_id': '102', 'count': 5},
 {'_id': '101', 'count': 5},
 {'_id': 'GF', 'count': 4},
 {'_id': 'G1', 'count': 4},
 {'_id': '97', 'count': 4},
 {'_id': '95', 'count': 4},
 {'_id': '94', 'count': 4},
 {'_id': '92', 'count': 4},
 {'_id': '90', 'count': 4},
 {'_id': '7A', 'count': 4},
 {'_id': '6A', 'count': 4},
 {'_id': '5L', 'count': 4},
 {'_id': '3L', 'count': 4},
 {'_id': '2N', 'count': 4},
 {'_id': '2L', 'count': 4},
 {'_id': '201', 'count': 4},
 {'_id': '19A', 'count': 4},
 {'_id': '17A', 'count': 4},
 {'_id': '15A', 'count': 4},
 {'_id': 'TG', 'count': 3},
 {'_id': '9A', 'count': 3},
 {'_id': '93', 'count': 3},
 {'_id': '8A', 'count': 3},
 {'_id': '89', 'count': 3},
 {'_id': '604', 'count': 3},
 {'_id': '5A', 'count': 3},
 {'_id': '4B', 'count': 3},
 {'_id': '401', 'count': 3},
 {'_id': '3B', 'count': 3},
 {'_id': '2S', 'count': 3},
 {'_id': '22A', 'count': 3},
 {'_id': '20C', 'count': 3},
 {'_id': '207', 'count': 3},
 {'_id': '206', 'count': 3},
 {'_id': '205', 'count': 3},
 {'_id': '204', 'count': 3},
 {'_id': '203', 'count': 3},
 {'_id': '202', 'count': 3},
 {'_id': '1B', 'count': 3},
 {'_id': '18C', 'count': 3},
 {'_id': '16C', 'count': 3},
 {'_id': '10A', 'count': 3},
 {'_id': '107', 'count': 3},
 {'_id': '106', 'count': 3},
 {'_id': '105', 'count': 3},
 {'_id': 'Z', 'count': 2},
 {'_id': 'U', 'count': 2},
 {'_id': 'MM', 'count': 2},
 {'_id': 'LG', 'count': 2},
 {'_id': 'G0', 'count': 2},
 {'_id': 'FL3', 'count': 2},
 {'_id': 'F1', 'count': 2},
 {'_id': '8S', 'count': 2},
 {'_id': '7N', 'count': 2},
 {'_id': '703', 'count': 2},
 {'_id': '6L', 'count': 2},
 {'_id': '602', 'count': 2},
 {'_id': '601', 'count': 2},
 {'_id': '502', 'count': 2},
 {'_id': '501', 'count': 2},
 {'_id': '4L', 'count': 2},
 {'_id': '404', 'count': 2},
 {'_id': '403', 'count': 2},
 {'_id': '402', 'count': 2},
 {'_id': '3N', 'count': 2},
 {'_id': '3G', 'count': 2},
 {'_id': '301', 'count': 2},
 {'_id': '27A', 'count': 2},
 {'_id': '26A', 'count': 2},
 {'_id': '25A', 'count': 2},
 {'_id': '24A', 'count': 2},
 {'_id': '23A', 'count': 2},
 {'_id': '21A', 'count': 2},
 {'_id': '209', 'count': 2},
 {'_id': '208', 'count': 2},
 {'_id': '1F', 'count': 2},
 {'_id': '1D', 'count': 2},
 {'_id': '17B', 'count': 2},
 {'_id': '14C', 'count': 2},
 {'_id': '14A', 'count': 2},
 {'_id': '13C', 'count': 2},
 {'_id': '13A', 'count': 2},
 {'_id': '12C', 'count': 2},
 {'_id': '11A', 'count': 2},
 {'_id': '109', 'count': 2},
 {'_id': '108', 'count': 2},
 {'_id': '`', 'count': 1},
 {'_id': 'S2', 'count': 1},
 {'_id': 'R', 'count': 1},
 {'_id': 'PP', 'count': 1},
 {'_id': 'GF6', 'count': 1},
 {'_id': 'GF5', 'count': 1},
 {'_id': 'GF4', 'count': 1},
 {'_id': 'FLGR', 'count': 1},
 {'_id': 'FL9', 'count': 1},
 {'_id': 'FL8', 'count': 1},
 {'_id': 'FL7', 'count': 1},
 {'_id': 'FL6', 'count': 1},
 {'_id': 'FL5', 'count': 1},
 {'_id': 'FL4', 'count': 1},
 {'_id': 'FL2', 'count': 1},
 {'_id': 'FL1ST', 'count': 1},
 {'_id': 'FL1FL', 'count': 1},
 {'_id': 'E1', 'count': 1},
 {'_id': 'BB', 'count': 1},
 {'_id': 'AA', 'count': 1},
 {'_id': '9C', 'count': 1},
 {'_id': '91', 'count': 1},
 {'_id': '902', 'count': 1},
 {'_id': '8N', 'count': 1},
 {'_id': '8E', 'count': 1},
 {'_id': '8C', 'count': 1},
 {'_id': '7C', 'count': 1},
 {'_id': '707', 'count': 1},
 {'_id': '706', 'count': 1},
 {'_id': '705', 'count': 1},
 {'_id': '704', 'count': 1},
 {'_id': '702', 'count': 1},
 {'_id': '701', 'count': 1},
 {'_id': '6N', 'count': 1},
 {'_id': '6C', 'count': 1},
 {'_id': '6B', 'count': 1},
 {'_id': '607', 'count': 1},
 {'_id': '606', 'count': 1},
 {'_id': '605', 'count': 1},
 {'_id': '603A', 'count': 1},
 {'_id': '603', 'count': 1},
 {'_id': '5S', 'count': 1},
 {'_id': '5C', 'count': 1},
 {'_id': '55S', 'count': 1},
 {'_id': '54S', 'count': 1},
 {'_id': '53S', 'count': 1},
 {'_id': '52S', 'count': 1},
 {'_id': '51S', 'count': 1},
 {'_id': '50S', 'count': 1},
 {'_id': '509', 'count': 1},
 {'_id': '508', 'count': 1},
 {'_id': '507', 'count': 1},
 {'_id': '506', 'count': 1},
 {'_id': '505', 'count': 1},
 {'_id': '504', 'count': 1},
 {'_id': '503', 'count': 1},
 {'_id': '4S', 'count': 1},
 {'_id': '4C', 'count': 1},
 {'_id': '49S', 'count': 1},
 {'_id': '47S', 'count': 1},
 {'_id': '46S', 'count': 1},
 {'_id': '45S', 'count': 1},
 {'_id': '44S', 'count': 1},
 {'_id': '44B', 'count': 1},
 {'_id': '43S', 'count': 1},
 {'_id': '42S', 'count': 1},
 {'_id': '41S', 'count': 1},
 {'_id': '40S', 'count': 1},
 {'_id': '409', 'count': 1},
 {'_id': '408', 'count': 1},
 {'_id': '407', 'count': 1},
 {'_id': '406', 'count': 1},
 {'_id': '405A', 'count': 1},
 {'_id': '405', 'count': 1},
 {'_id': '3S', 'count': 1},
 {'_id': '38S', 'count': 1},
 {'_id': '37S', 'count': 1},
 {'_id': '37N', 'count': 1},
 {'_id': '36N', 'count': 1},
 {'_id': '35S', 'count': 1},
 {'_id': '34S', 'count': 1},
 {'_id': '345', 'count': 1},
 {'_id': '33S', 'count': 1},
 {'_id': '32N', 'count': 1},
 {'_id': '31N', 'count': 1},
 {'_id': '30S', 'count': 1},
 {'_id': '309', 'count': 1},
 {'_id': '308', 'count': 1},
 {'_id': '307', 'count': 1},
 {'_id': '306', 'count': 1},
 {'_id': '305', 'count': 1},
 {'_id': '304', 'count': 1},
 {'_id': '303', 'count': 1},
 {'_id': '302', 'count': 1},
 {'_id': '2F', 'count': 1},
 {'_id': '28S', 'count': 1},
 {'_id': '27N', 'count': 1},
 {'_id': '24S', 'count': 1},
 {'_id': '221', 'count': 1},
 {'_id': '211', 'count': 1},
 {'_id': '210', 'count': 1},
 {'_id': '1S', 'count': 1},
 {'_id': '1CP', 'count': 1},
 {'_id': '19B', 'count': 1},
 {'_id': '18A', 'count': 1},
 {'_id': '17N', 'count': 1},
 {'_id': '16S', 'count': 1},
 {'_id': '16N', 'count': 1},
 {'_id': '16A', 'count': 1},
 {'_id': '15N', 'count': 1},
 {'_id': '14N', 'count': 1},
 {'_id': '140', 'count': 1},
 {'_id': '13S', 'count': 1},
 {'_id': '12N', 'count': 1},
 {'_id': '12L', 'count': 1},
 {'_id': '11C', 'count': 1},
 {'_id': '11B', 'count': 1},
 {'_id': '114', 'count': 1},
 {'_id': '111', 'count': 1},
 {'_id': '110', 'count': 1},
 {'_id': '10L', 'count': 1},
 {'_id': '10C', 'count': 1}]
FAIL: None does not exist in the allowed list of values.
FAIL: 1 does not exist in the allowed list of values.
FAIL: 2 does not exist in the allowed list of values.
FAIL: 3 does not exist in the allowed list of values.
FAIL: 4 does not exist in the allowed list of values.
FAIL: 5 does not exist in the allowed list of values.
FAIL: 6 does not exist in the allowed list of values.
FAIL: 7 does not exist in the allowed list of values.
FAIL: 8 does not exist in the allowed list of values.
FAIL: 9 does not exist in the allowed list of values.
FAIL: 10 does not exist in the allowed list of values.
FAIL: 11 does not exist in the allowed list of values.
FAIL: 12 does not exist in the allowed list of values.
FAIL: 13 does not exist in the allowed list of values.
FAIL: 14 does not exist in the allowed list of values.
FAIL: 15 does not exist in the allowed list of values.
FAIL: 16 does not exist in the allowed list of values.
FAIL: 17 does not exist in the allowed list of values.
FAIL: 18 does not exist in the allowed list of values.
FAIL: 19 does not exist in the allowed list of values.
FAIL: 20 does not exist in the allowed list of values.
FAIL: 21 does not exist in the allowed list of values.
FAIL: 22 does not exist in the allowed list of values.
FAIL: 23 does not exist in the allowed list of values.
FAIL: 24 does not exist in the allowed list of values.
FAIL: 25 does not exist in the allowed list of values.
FAIL: 26 does not exist in the allowed list of values.
FAIL: 27 does not exist in the allowed list of values.
FAIL: 28 does not exist in the allowed list of values.
FAIL: B does not exist in the allowed list of values.
FAIL: A does not exist in the allowed list of values.
FAIL: 29 does not exist in the allowed list of values.
FAIL: 30 does not exist in the allowed list of values.
FAIL: 31 does not exist in the allowed list of values.
FAIL: 32 does not exist in the allowed list of values.
FAIL: 33 does not exist in the allowed list of values.
FAIL: C does not exist in the allowed list of values.
FAIL: 34 does not exist in the allowed list of values.
FAIL: 35 does not exist in the allowed list of values.
FAIL: 36 does not exist in the allowed list of values.
FAIL: 38 does not exist in the allowed list of values.
FAIL: 37 does not exist in the allowed list of values.
FAIL: 39 does not exist in the allowed list of values.
FAIL: 40 does not exist in the allowed list of values.
FAIL: 41 does not exist in the allowed list of values.
FAIL: 42 does not exist in the allowed list of values.
FAIL: D does not exist in the allowed list of values.
FAIL: 43 does not exist in the allowed list of values.
FAIL: 44 does not exist in the allowed list of values.
FAIL: G does not exist in the allowed list of values.
FAIL: 45 does not exist in the allowed list of values.
FAIL: 46 does not exist in the allowed list of values.
FAIL: E does not exist in the allowed list of values.
FAIL: 47 does not exist in the allowed list of values.
FAIL: 48 does not exist in the allowed list of values.
FAIL: 49 does not exist in the allowed list of values.
FAIL: 50 does not exist in the allowed list of values.
FAIL: 52 does not exist in the allowed list of values.
FAIL: 51 does not exist in the allowed list of values.
FAIL: 53 does not exist in the allowed list of values.
FAIL: 54 does not exist in the allowed list of values.
FAIL: 56 does not exist in the allowed list of values.
FAIL: 55 does not exist in the allowed list of values.
FAIL: 57 does not exist in the allowed list of values.
FAIL: F does not exist in the allowed list of values.
FAIL: 58 does not exist in the allowed list of values.
FAIL: 60 does not exist in the allowed list of values.
FAIL: 59 does not exist in the allowed list of values.
FAIL: 61 does not exist in the allowed list of values.
FAIL: 64 does not exist in the allowed list of values.
FAIL: 65 does not exist in the allowed list of values.
FAIL: 62 does not exist in the allowed list of values.
FAIL: 63 does not exist in the allowed list of values.
FAIL: B2 does not exist in the allowed list of values.
FAIL: 66 does not exist in the allowed list of values.
FAIL: 67 does not exist in the allowed list of values.
FAIL: B1 does not exist in the allowed list of values.
FAIL: H does not exist in the allowed list of values.
FAIL: L1 does not exist in the allowed list of values.
FAIL: J does not exist in the allowed list of values.
FAIL: 69 does not exist in the allowed list of values.
FAIL: K does not exist in the allowed list of values.
FAIL: 68 does not exist in the allowed list of values.
FAIL: 75 does not exist in the allowed list of values.
FAIL: 74 does not exist in the allowed list of values.
FAIL: 73 does not exist in the allowed list of values.
FAIL: 72 does not exist in the allowed list of values.
FAIL: 70 does not exist in the allowed list of values.
FAIL: QG does not exist in the allowed list of values.
FAIL: 78 does not exist in the allowed list of values.
FAIL: 82 does not exist in the allowed list of values.
FAIL: 77 does not exist in the allowed list of values.
FAIL: L does not exist in the allowed list of values.
FAIL: 80 does not exist in the allowed list of values.
FAIL: 76 does not exist in the allowed list of values.
FAIL: 83 does not exist in the allowed list of values.
FAIL: 84 does not exist in the allowed list of values.
FAIL: 71 does not exist in the allowed list of values.
FAIL: 2A does not exist in the allowed list of values.
FAIL: L3 does not exist in the allowed list of values.
FAIL: 85 does not exist in the allowed list of values.
FAIL: 81 does not exist in the allowed list of values.
FAIL: L2 does not exist in the allowed list of values.
FAIL: FL1 does not exist in the allowed list of values.
FAIL: 79 does not exist in the allowed list of values.
FAIL: 1A does not exist in the allowed list of values.
FAIL: L6 does not exist in the allowed list of values.
FAIL: L5 does not exist in the allowed list of values.
FAIL: L4 does not exist in the allowed list of values.
FAIL: FL does not exist in the allowed list of values.
FAIL: L7 does not exist in the allowed list of values.
FAIL: GG does not exist in the allowed list of values.
FAIL: I does not exist in the allowed list of values.
FAIL: 3A does not exist in the allowed list of values.
FAIL: BG does not exist in the allowed list of values.
FAIL: 86 does not exist in the allowed list of values.
FAIL: 1L does not exist in the allowed list of values.
FAIL: L8 does not exist in the allowed list of values.
FAIL: 4A does not exist in the allowed list of values.
FAIL: 12A does not exist in the allowed list of values.
FAIL: 2B does not exist in the allowed list of values.
FAIL: LG2 does not exist in the allowed list of values.
FAIL: LG1 does not exist in the allowed list of values.
FAIL: 88 does not exist in the allowed list of values.
FAIL: 87 does not exist in the allowed list of values.
FAIL: 104 does not exist in the allowed list of values.
FAIL: 103 does not exist in the allowed list of values.
FAIL: 102 does not exist in the allowed list of values.
FAIL: 101 does not exist in the allowed list of values.
FAIL: GF does not exist in the allowed list of values.
FAIL: G1 does not exist in the allowed list of values.
FAIL: 97 does not exist in the allowed list of values.
FAIL: 95 does not exist in the allowed list of values.
FAIL: 94 does not exist in the allowed list of values.
FAIL: 92 does not exist in the allowed list of values.
FAIL: 90 does not exist in the allowed list of values.
FAIL: 7A does not exist in the allowed list of values.
FAIL: 6A does not exist in the allowed list of values.
FAIL: 5L does not exist in the allowed list of values.
FAIL: 3L does not exist in the allowed list of values.
FAIL: 2N does not exist in the allowed list of values.
FAIL: 2L does not exist in the allowed list of values.
FAIL: 201 does not exist in the allowed list of values.
FAIL: 19A does not exist in the allowed list of values.
FAIL: 17A does not exist in the allowed list of values.
FAIL: 15A does not exist in the allowed list of values.
FAIL: TG does not exist in the allowed list of values.
FAIL: 9A does not exist in the allowed list of values.
FAIL: 93 does not exist in the allowed list of values.
FAIL: 8A does not exist in the allowed list of values.
FAIL: 89 does not exist in the allowed list of values.
FAIL: 604 does not exist in the allowed list of values.
FAIL: 5A does not exist in the allowed list of values.
FAIL: 4B does not exist in the allowed list of values.
FAIL: 401 does not exist in the allowed list of values.
FAIL: 3B does not exist in the allowed list of values.
FAIL: 2S does not exist in the allowed list of values.
FAIL: 22A does not exist in the allowed list of values.
FAIL: 20C does not exist in the allowed list of values.
FAIL: 207 does not exist in the allowed list of values.
FAIL: 206 does not exist in the allowed list of values.
FAIL: 205 does not exist in the allowed list of values.
FAIL: 204 does not exist in the allowed list of values.
FAIL: 203 does not exist in the allowed list of values.
FAIL: 202 does not exist in the allowed list of values.
FAIL: 1B does not exist in the allowed list of values.
FAIL: 18C does not exist in the allowed list of values.
FAIL: 16C does not exist in the allowed list of values.
FAIL: 10A does not exist in the allowed list of values.
FAIL: 107 does not exist in the allowed list of values.
FAIL: 106 does not exist in the allowed list of values.
FAIL: 105 does not exist in the allowed list of values.
FAIL: Z does not exist in the allowed list of values.
FAIL: U does not exist in the allowed list of values.
FAIL: MM does not exist in the allowed list of values.
FAIL: LG does not exist in the allowed list of values.
FAIL: G0 does not exist in the allowed list of values.
FAIL: FL3 does not exist in the allowed list of values.
FAIL: F1 does not exist in the allowed list of values.
FAIL: 8S does not exist in the allowed list of values.
FAIL: 7N does not exist in the allowed list of values.
FAIL: 703 does not exist in the allowed list of values.
FAIL: 6L does not exist in the allowed list of values.
FAIL: 602 does not exist in the allowed list of values.
FAIL: 601 does not exist in the allowed list of values.
FAIL: 502 does not exist in the allowed list of values.

In [153]:
# street suffix 
pipeline = [
    {"$group": {"_id": "$street_suffix", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []
allowed_list = [None, 'CENTRAL', 'DEVIATION', 'EAST', 'EXTENSION', 'MALL', 'NORTH', 'NORTH WEST', 'ON', 'SOUTH', 
                'SOUTH EAST', 'SOUTH WEST', 'WEST']

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in allowed_list: 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16614793},
 {'_id': 'WEST', 'count': 26375},
 {'_id': 'NORTH', 'count': 25510},
 {'_id': 'EAST', 'count': 24568},
 {'_id': 'SOUTH', 'count': 24338},
 {'_id': 'EXTENSION', 'count': 375},
 {'_id': 'MALL', 'count': 328},
 {'_id': 'CENTRAL', 'count': 263},
 {'_id': 'SOUTH EAST', 'count': 13},
 {'_id': 'DEVIATION', 'count': 11},
 {'_id': 'NORTH WEST', 'count': 4},
 {'_id': 'SOUTH WEST', 'count': 1},
 {'_id': 'ON', 'count': 1}]
SUCCESS

In [18]:
# dwellings count
pipeline = [
    {"$group": {"_id": "$dwellings_count", "count": {"$sum": 1}}}, 
    {"$sort": SON([("count", -1), ("_id", -1)])}
]


test_list = list(db.properties.aggregate(pipeline))
value_list = []

pprint.pprint(test_list)
for x in range(0, len(test_list)): 
    value_list.append(test_list[x].get('_id'))

x = 1
for value in value_list: 
    if value not in range(0, 101): 
        print("FAIL: " + str(value) + " does not exist in the allowed list of values.")
        x = 0

if x==1:
    print("SUCCESS")

[{'_id': None, 'count': 16770465},
 {'_id': 0, 'count': 19796},
 {'_id': 81, 'count': 1},
 {'_id': 12, 'count': 1}]
FAIL: None does not exist in the allowed list of values.